# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\OneDrive - School_3\[2] java\githubClassCodes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
